# Virtual Environment
venv/
*.pyc
__pycache__/
.env

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Build artifacts
build/
dist/
*.egg-info/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/

